.selecter-base {
    // background: red;
    // background-color: #999;
    width: 100%;
    height: 100%;
    position: absolute;
    // background: url('./images/cityImage.jpeg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // opacity: .6;

    a {
        color: #fff;
    }
}